<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acercade</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img src="assets/img/2by2.jpg" width="400" height="400" />
  <ion-card-header>
    <ion-card-title>Eduard A. Cruz</ion-card-title>
    <ion-card-subtitle><ion-icon name="mail-unread-outline"></ion-icon> 20209358@itla.edu.do</ion-card-subtitle>
    <ion-card-subtitle><ion-icon name="call-outline"></ion-icon> 809-423-7669</ion-card-subtitle>
  </ion-card-header>
</ion-card>

</ion-content>
